#tabs {
	margin-top: 10px;
}

#tdDescricaoAtividade {
    max-width: 40px;
    max-height: 15px;
    overflow: hidden;
}

#tdObsDespesa {
    max-width: 40px;
    max-height: 15px;
    overflow: hidden;
}

#btnLancarRAT {
	margin-top: 10px;
	}

#btnCancelar {
	margin-top: 10px;
	}

#btnAlterarRAT {
    margin-top: 10px;
    }